.navigation {
    display  : flex;
    position : relative;

    height : 32.5pt;

    padding      : 0px;
    margin-left  : 20px;
    margin-right : 20px;

    overflow : visible;

    align-content   : middle;
    justify-content : center;
    flex-wrap       : nowrap;

    background : transparent;
}

.navigation a {
    display  : inline-block;
    position : relative;

    width  : 100pt;
    height : 20pt;

    padding-top  : 5pt;
    margin       : 0px;
    margin-left  : 10pt;
    margin-right : 10pt;

    overflow : visible;

    color  : var(--fg);
    border : var(--border);

    text-decoration : none;

    transition : all var(--trans-time);
}

.navigation a:after {
    position : absolute;

    width  : 0%;
    height : 0%;

    top  : 50%;
    left : 50%;

    opacity : 0;

    transition : all var(--trans-time);

    content : "";
}

.navigation a:hover {
    background : white;
    color      : black;

    box-shadow : var(--glow), var(--glow-inv);

    font-weight : bold;

    animation : 
        flicker-skew 5s infinite linear,
        flicker-skew 7s infinite linear reverse;
}

.navigation a:hover:after {
    top  : -5pt;
    left : -5pt;

    width  : calc(100% + 10pt);
    height : calc(100% + 10pt);

    opacity : 1;

    background:
        linear-gradient(to right,  var(--accent) 1px, transparent 1px)   0    0,
        linear-gradient(to right,  var(--accent) 1px, transparent 1px)   0  100%,
        linear-gradient(to left,   var(--accent) 1px, transparent 1px) 100%   0,
        linear-gradient(to left,   var(--accent) 1px, transparent 1px) 100% 100%,
        linear-gradient(to bottom, var(--accent) 1px, transparent 1px)   0    0,
        linear-gradient(to bottom, var(--accent) 1px, transparent 1px) 100%   0,
        linear-gradient(to top,    var(--accent) 1px, transparent 1px)   0  100%,
        linear-gradient(to top,    var(--accent) 1px, transparent 1px) 100% 100%;

    background-repeat: no-repeat;
    background-size: 10px 10px;
}

@keyframes flicker-skew {
    31.25% { transform : skew( 0deg); box-shadow : var(--glow), var(--glow-inv); }
    32.00% { transform : skew(90deg); box-shadow : var(--glow); }
    32.25% { transform : skew( 0deg); box-shadow : var(--glow), var(--glow-inv); }
}

nav {
  background-color: #000; 
  color: #fff; 
}


.about-page .navigation {
  background: #000; 
  color: #0f0;
}

.about-page .navigation a {
  color: #0f0;
  text-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0;
  border-color: #0f0;
}

.about-page .navigation a:hover {
  color: #00ff00; /* Bright green */
  background: none;
  box-shadow: 0 0 10px #0f0, 0 0 20px #0f0;
}


.navigation {
  background: transparent;
}

.navigation a {
  color: var(--fg);
  border: var(--border);
}

.navigation a:hover {
  background: white;
  color: black;
}